
*{
  font-family:  monospace;
 
}

/* header start */
.navBar{
  background-color: black;
  color: rgba(186, 28, 115, 0.679);
  padding: 1rem;
  display: flex;
  
}
.logo{
  font-size: 25px;
  font-weight: 600;
  margin-left: 1rem;
}
.logo:hover{
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.cart{
  position: absolute;
 top: 16px;
 right: 40px;
  font-size: 25px;
  font-weight: 600;
  
}
.cart:hover{
color: white;
cursor: pointer;
transition: 0.2s ease-in-out;
}
.displayBackGround{
  background-color: rgb(250, 250, 245);
}
/* header end */

/* main section start */

.nonvegPizza{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid orange;
}
.menuItems{
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  padding-top: 3rem;
  
}
.menuItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.nonVegItems{
  display: flex;
  justify-content: space-around;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.OrderBtn{
  padding: 3px 10px ;
  font-size: 14px;
  border: none;
  background-color: rgba(237, 210, 8, 0.947);
  border-radius: 5px;
  font-weight: 600;
  
}
.OrderBtn:hover{
  background-color: rgba(30, 28, 28, 0.727);
  color: white;
  transition: 0.3s ease-in-out;
}
.nonvegPizza1{
  width: 250px ;
  height: 250px;
  border-radius: 50%;
  border: 4px solid orange;
}
.headCrust{
  font-size: 16px;
  font-weight: 400;
  margin: 15px 0;
}
.Box1{
  width: 340px;
}
.OrderBtn1{
  padding: 5px 32px ;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  background-color:rgba(237, 210, 8, 0.947); 
  font-weight: 600;

}
.OrderBtn1:hover{
  background-color: black;
  color: white;
  transition: 0.2s ease-in-out;
}
/* main section close */

